
a {
    @apply .text-purple;

    &:hover {
        @apply .text-purple-light;
    }
}

p {
    font-family: 'Noto Sans';
    @apply .inline-block .mb-3 .text-grey-darkest;
}

.heading {
    color: #c5c7cb;
}

.theme-border {
    border-color: #eee;
}

.theme-border-secondary {
    border-color: #e8eeff;
}

.nav-border {
    border-color: #f1f3fc;
}

.theme-button {
    background: #e0f0fd;
    color: #00b5b5;
}

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

footer {
    @apply .text-grey;
    @apply .max-w-2xl .mx-auto .mt-8 .py-8 .flex .flex-wrap .justify-between .items-center;

    .copyright > a {
        @apply .text-grey;
        @apply .no-underline .text-lg;

        &:hover {
            @apply .text-purple;
        }
    }

    .links a {
        @apply .no-underline .mx-1;

        svg {
            @apply .text-grey;
            fill: config('colors.grey');
        }

        &:hover svg {
            @apply .text-purple;
            fill: config('colors.purple');
        }
    }
}


.hcc.hc__footer__r {
    display: none;
}




.tag {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid #dae4e9;
    border-right: 3px solid #00b5b5;
    border-radius: 3px;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    font-size: 14px;
    font-weight: 300
}

.tag:hover {
    border-right: 3px solid #103d60
}




[v-cloak] {
    display: none
}

.theme-light {
    --color-theme-text-thead: #c5c7cb;
    --color-theme-table-row-sticky: #fff;
    --color-theme-page-background-primary: #f5f6fa;
    --color-theme-content-background-primary: #fff;
    --color-theme-feature-background: #20222d;
    --color-theme-table-row: #f8f9fd;
    --color-theme-table-row-hover: #fff;
    --color-theme-text-primary: #172130;
    --color-theme-text-secondary: #395174;
    --color-theme-text-content: #172130;
    --color-theme-text-placeholder: #a0a6c8;
    --theme-shadow: 0 1px 9px rgba(203, 208, 228, .19);
    --theme-table-hover-shadow: 0 5px 30px rgba(124, 138, 192, .22);
    --theme-border: #eee;
    --theme-border-secondary: #e8eeff;
    --nav-background: #fff;
    --nav-border: #f1f3fc;
    --stat-background: #fafbfe;
    --theme-text-tertiary: #838a9b;
    --ark-meter: #e4ece9;
    --chart-active: #395174;
    --chart-inactive: #a0a6c8;
    --theme-button: #e0f0fd;
    --theme-button-text: #00b5b5
}

.theme-light footer a {
    color: #838a9b
}

.theme-light footer a:hover {
    color: #00b5b5
}

.theme-dark {
    --color-theme-text-thead: #a1a2a6;
    --color-theme-table-row-sticky: #25262c;
    --color-theme-page-background-primary: #1a1b1f;
    --color-theme-content-background-primary: #202126;
    --color-theme-feature-background: #202126;
    --color-theme-table-row: #25262c;
    --color-theme-table-row-hover: #2a2b31;
    --color-theme-text-primary: #fff;
    --color-theme-text-secondary: #a1a2a6;
    --color-theme-text-content: #a1a2a6;
    --color-theme-text-placeholder: #787a86;
    --theme-shadow: none;
    --theme-table-hover-shadow: none;
    --theme-border: #25262c;
    --theme-border-secondary: #25262c;
    --nav-background: #2a2b31;
    --nav-border: #282a30;
    --stat-background: #202126;
    --theme-text-tertiary: #626466;
    --ark-meter: #26272c;
    --chart-active: #a1a2a6;
    --chart-inactive: #585a68;
    --theme-button: #2a2b31;
    --theme-button-text: #fff
}

.menu-container {
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
}

.search-input::-webkit-input-placeholder {
    color: var(--color-theme-text-placeholder)
}

.search-input:-ms-input-placeholder,
.search-input::-ms-input-placeholder {
    color: var(--color-theme-text-placeholder)
}

.search-input::placeholder {
    color: var(--color-theme-text-placeholder)
}

.search-icon:hover {
    -webkit-box-shadow: 0 0 13px 2px rgba(197, 197, 213, .24);
    box-shadow: 0 0 13px 2px rgba(197, 197, 213, .24)
}


table {
    border-spacing: 0;
    border-collapse: collapse
}

a:focus,
button:focus,
input:focus,
textarea:focus {
    outline: none
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: var(--theme-border-secondary);
    height: 1px
}

.post img {
    margin: 30px 0;
    max-width: 100%;
    max-height: 100%;
    height: auto !important;
    border-radius: 4px / 4px;
    width: auto;
    height: auto
}

#return-to-top {
    background: #dae4e9
}

#return-to-top,
.theme-dark #return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    display: none;
    -webkit-transition: all .3s linear;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.theme-dark #return-to-top {
    background: #2a2b31;
    border: 1px solid #dae4e9
}

#return-to-top svg {
    color: #00b5b5;
    margin: 0;
    position: relative;
    left: 16px;
    top: 16px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

#return-to-top:hover {
    background: #00b5b5
}

#return-to-top:hover,
.theme-dark #return-to-top:hover {
    border: 1px transparent
}

#return-to-top:hover svg {
    color: #dae4e9
}



.bg-table-row {
    background-color: var(--color-theme-table-row)
}

.bg-theme-page-background {
    background-color: var(--color-theme-page-background-primary)
}

.bg-theme-nav-background {
    background-color: var(--nav-background)
}
