<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% if page.title == "Home" %}
            {{ site.title }}
        {% else %}
            {{ page.title }} in git? &middot; {{ site.title }}
        {% endif %}
    </title>

    {% if page.title == "Home" %}
        <meta name="description" content="{{ site.description }}">
    {% else %}
        <meta name="description" content="{{ page.title }} in git? &middot; {{ site.title }}">
    {% endif %}

    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="/public/icons/manifest.json?v=A0Rbk77QXd">
    <link rel="shortcut icon" href="/public/icons/favicon.ico?v=A0Rbk77QXd">
    <link rel="mask-icon" href="/public/icons/safari-pinned-tab.svg?v=A0Rbk77QXd" color="#5bbad5">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/icons/apple-touch-icon.png?v=A0Rbk77QXd">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/public/icons/apple-touch-icon-57x57.png?v=A0Rbk77QXd" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/public/icons/apple-touch-icon-114x114.png?v=A0Rbk77QXd" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/public/icons/apple-touch-icon-72x72.png?v=A0Rbk77QXd" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/icons/apple-touch-icon-144x144.png?v=A0Rbk77QXd" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/public/icons/apple-touch-icon-60x60.png?v=A0Rbk77QXd" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/public/icons/apple-touch-icon-120x120.png?v=A0Rbk77QXd" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/public/icons/apple-touch-icon-76x76.png?v=A0Rbk77QXd" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/public/icons/apple-touch-icon-152x152.png?v=A0Rbk77QXd" />
    <link rel="icon" type="image/png" href="/public/icons/favicon-196x196.png?v=A0Rbk77QXd" sizes="196x196" />
    <link rel="icon" type="image/png" href="/public/icons/favicon-96x96.png?v=A0Rbk77QXd" sizes="96x96" />
    <link rel="icon" type="image/png" href="/public/icons/favicon-32x32.png?v=A0Rbk77QXd" sizes="32x32" />
    <link rel="icon" type="image/png" href="/public/icons/favicon-16x16.png?v=A0Rbk77QXd" sizes="16x16" />
    <link rel="icon" type="image/png" href="/public/icons/favicon-128.png?v=A0Rbk77QXd" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/public/icons/mstile-144x144.png?v=A0Rbk77QXd" />
    <meta name="msapplication-square70x70logo" content="/public/icons/mstile-70x70.png?v=A0Rbk77QXd" />
    <meta name="msapplication-square150x150logo" content="/public/icons/mstile-150x150.png?v=A0Rbk77QXd" />
    <meta name="msapplication-wide310x150logo" content="/public/icons/mstile-310x150.png?v=A0Rbk77QXd" />
    <meta name="msapplication-square310x310logo" content="/public/icons/mstile-310x310.png?v=A0Rbk77QXd" />

    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
</head>
