<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="row">
      <div class="large-12 large-centered columns">

        <header class="masthead">
            <a href="{{ site.url }}"><img src="{{ site.baseurl }}/public/logo.png" alt="{{ site.title }}"></a>
        </header>

    </div>
  </div>

  <div class="row">

    <div class="large-8 large-offset-2 columns">

        {{ content }}

    </div>

    <div class="large-1 columns social">
      <ul>
        <li><a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/{{ site.github }}"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.khurafatstudio.com/"><i class="fa fa-copyright"></i></a></li>
        <li><a href="https://github.com/{{ site.github }}/issues"><i class="fa fa-bug"></i></a></li>
      </ul>
    </div>

  </div>


    <script async src='https://pepper.swat.io/embed.js?eyJwb3NpdGlvbiI6InJpZ2h0IiwiY29sb3IiOiJmZmNlMzUiLCJjdXN0b21Db2xvciI6dHJ1ZSwiaWNvbiI6InBhY21hbiIsInByb25vdW4iOiJtZSIsImxhbmd1YWdlIjoiZW4iLCJicmFuZGVkIjpmYWxzZSwiaW50cm9UZXh0IjoiV2FudCB0byBjb250cmlidXRlIG9yIHdhbnQgdG8ga25vdyBtb3JlIGFib3V0IG1lPyBHZXQgaW4gY29udGFjdCEiLCJjaGFubmVscyI6W1sidHdpdHRlciIsIm1lU2luZ2g5Iiwic29jaWFsIl0sWyJnaXRodWIiLCJodHRwczovL2dpdGh1Yi5jb20vbWVTaW5naC9HaXRIYXBwZW5zLm9yZyIsInNvY2lhbCJdLFsic2t5cGUiLCJtZVNpbmdoOTAiLCJzb2NpYWwiXSxbImxpbmtlZGluIiwiaHR0cHM6Ly93d3cubGlua2VkaW4uY29tL2luL21lc2luZ2g5Iiwic29jaWFsIl0sWyJlbWFpbCIsImltQG1zaW5naC5tZSIsImNsYXNzaWMiXSxbIndlYnNpdGUiLCJodHRwczovL3d3dy5tc2luZ2guY29tIiwiY2xhc3NpYyJdXX0='></script>

    {% if site.google_analytics %}
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
       ga('create', '{{ site.google_analytics }}', 'auto');
       ga('send', 'pageview');
     </script>
    {% endif %}

  </body>
</html>
