<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="row">
      <div class="large-12 large-centered columns">

        <header class="masthead">
            <a href="{{ site.url }}"><img src="{{ site.baseurl }}/public/logo.png" alt="{{ site.title }}"></a>
            <!-- <img src="https://raw.githubusercontent.com/meSingh/ohshitgit/master/ohshit.png" alt="Jami Gibbs"> -->
        </header>

    </div>
  </div>

  <div class="row">

    <div class="large-8 large-offset-2 columns">

        {{ content }}

    </div>

    <div class="large-1 columns social">
      <ul>
        <li><a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/{{ site.github }}"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.khurafatstudio.com/"><i class="fa fa-copyright"></i></a></li>
        <li><a href="https://github.com/{{ site.github }}/issues"><i class="fa fa-bug"></i></a></li>
      </ul>
    </div>

  </div>

    {% if site.google_analytics %}
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
       ga('create', '{{ site.google_analytics }}', 'auto');
       ga('send', 'pageview');
     </script>
    {% endif %}

  </body>
</html>
